@{
    ViewData["Title"] = "Product";
    Layout = "_ManagementLayout";
}

@section Styles{
    <link rel="stylesheet" href="~/css/admin/book.css" asp-append-version="true">
}

@model IEnumerable<Book>

<div style="width: 100%;height: 4rem;background-color: white; position: fixed; z-index: 1;">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="row">
                <div class="d-flex" id="search_box_product" role="search">
                    <a asp-controller="Book" asp-action="Create">
                        <button class="btn btn-warning" style="width: 8rem;margin-left: 2rem">New</button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container-product" style="padding-top: 5rem">
    @foreach (var book in Model)
    {
        <div class="item">
            <div class="row">
                <div class="col-2">
                    <div class="thumbnail">
                          <img class="group list-group-image" src="~/img/book/@book.image" style="width: 11rem; height: 12.5rem">
                    </div>
                </div>
                <div class="col-7">
                    <div class="caption" style="margin-left: 2rem; margin-top: 1rem">
                         <div class="category mt-3">
                             <h5 class="category-name" style="margin-bottom:1rem">@book.title</h5>
                         </div>
                         <h6>Author: @book.author</h6>
                         <h6>Category: @book.category.name</h6>
                        <h6>Supplier: @book.supplier.name</h6>
                         <h6>Price: @book.price$</h6>
                         <h6>Quantity:@book.quantity</h6>
                        <h6 style="text-align:justify">
                           @book.description
                        </h6>
                     </div>
                 </div>
                 <div class="col-2" style="text-align: center">
                     <div style="margin-top:50%">
                        <a asp-controller="Book" asp-action="Edit" asp-route-id="@book.book_id"><button class="btn btn-info">Update</button></a>
                        <button class="btn btn-danger btn-delete-book" data-book-id="@book.book_id" data-bs-toggle="modal" data-bs-target="#confirm_delete_modal">Delete</button>
                     </div>
                 </div>
            </div>
        </div>
    }
</div>
<div class="modal fade" id="confirm_delete_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>Delete this book?</div>
            </div>
            <div class="modal-footer">
                <form asp-controller="Book" asp-action="Delete" method="post">
                    <input type="hidden" value="" name="id" id="input_book_id">
                    <button type="submit" class="btn btn-danger btn-ok-delete">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.btn-delete-book').click(function () {
                $('#input_book_id').val($(this).data('book-id'))
            })
        })
    </script>
}
